$purple: #b47ff6;
$light-purple: #beb9ff;
$violet: #7029cb;
$bg-color: #a6c9ff;
$green: #3ade4b;
$green-border: #00ff4a;
$dark-green: #497957;
$yellow: #d4ff5a;
$white: #fff;

$tablet-desktop-width: 600px;
